* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*Image owner - Ricky Esquivel*/
  background: url('images/library-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Roboto, system-ui, sans-serif;
  color: #fff;
  width: 100%;
}

.container {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.125);
  width: 100vw;
  height: 100vh;
}

header {
  padding: 20px;
}

header .title,
header .description {
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.description {
  font-size: 1.2rem;
}

.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.add {
  padding: 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.add:hover {
  background-color: #e0a04b;
  color: #fff;
}

#dialog {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 350px;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  border: 1px solid #b3b0b0;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

#dialog button {
  padding: 10px;
  margin: 5px;
  width: 40%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.entry {
  background-color: #799b8d;
  color: #fffcf4;
}

.cancel {
  background-color: #ff6347;
  color: #fffcf4;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.125);
}